
.box {
  display: flex;   
  flex-direction: row; 
  background-color: greenyellow;
  border: 4px solid brown;
  height: 100px;
  width: 100px;
  margin: 1px;
  border-radius: 15px;
  /*this makes 4 per row*/
  flex: 1 0 22%;
  }
.container {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  justify-content:center;

  
}